/* Estilos para las pantallas del cliente,
Centrado general */
body {
    
    text-align: center;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    padding: 20px;
    text-align: center;
    z-index: 10;
}

#bienvenida{
    margin-top: 200px;
    text-align: center;
}

/* Botón Admin (esquina superior derecha) */
#btn-admin {
    position: absolute;
    top: 15px;
    right: 50px;
    background-color: var(--color-primario);
    color: var(--color-fondo);
    padding: 5px 8px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

/* Títulos e inputs */
h1,
h2 {
    color: var(--color-primario);
}

/* Formulario de login */
input {
    padding: 10px;
    border: 2px solid var(--color-primario);
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    width: 250px;
}

#btn-entrar {
    margin-top: 15px;
}


/* Productos */

/* Header tipo barra superior fija */
.header-productos {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    z-index: 10;
    font-weight: bold;
}

/* Logo (izquierda) */
.logo {
    font-size: 1rem;
}

/* Botón carrito (derecha) */
#btn-carrito {
    font-size: 1.8rem;
    background: none;
    border: none;
    color: var(--color-primario);
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
    padding: 10px;
}

/* Ajuste para el contenido */
main {
    margin-top: 90px;
    text-align: center;
}

#contenedor-productos {
    margin-top: 30px;
}
